body, html {
    display: grid;                                                                                                                                                                                                        
    width: 50%;
    height: 60%;
    padding: 0;
    margin: 0;
    grid-template-rows: .55fr .55fr .20fr;
    text-align: center;
    border-style: solid;
    border-color: white;

}

.HELLO {
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: salmon;
    border-radius: 10px;
}

.my-name {
    font-size: 3rem;
    color: black;
    background-color:salmon;
}

.name {
    font-size: 2rem;
    font-style: italic ;
    margin-bottom: 15px;
    margin-top: 15px
}

footer {
    color: salmon;
    background-color: salmon;
    border-radius: 0px 0px 10px 10px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}